#root {
  max-width: 1280px;
  margin: 0 auto;
  --small-space: 4px;
  --medium-space: 8px;
  --large-space: 12px;
  --font-large: 18px;
  --bg-color: #353434;
  --primary-color: orange;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-1 {
  flex: 1 1 0%;
}

.leading-loose {
  line-height: 2;
}

.rounded {
  border-radius: 12px;
}

.font-bold {
  font-weight: 600;
}

.font-large {
  font-size: var(--font-large);
}

.color-primary {
  color: var(--primary-color);
}

.py-1 {
  padding: var(--small-space) 0;
}

.py-2 {
  padding: var(--medium-space) 0;
}

.py-3 {
  padding: var(--large-space) 0;
}

.px-1 {
  padding: 0 var(--small-space);
}

.px-2 {
  padding: 0 var(--medium-space);
}

.px-3 {
  padding: 0 var(--large-space);
}

.p-1 {
  padding: var(--small-space);
}

.p-2 {
  padding: var(--medium-space);
}

.p-3 {
  padding: var(--large-space);
}

.p-0 {
  padding: 0;
}

.my-1 {
  margin: var(--small-space) 0;
}

.my-2 {
  margin: var(--medium-space) 0;
}

.my-3 {
  margin: var(--large-space) 0;
}

.mx-1 {
  margin: 0 var(--small-space);
}

.mx-2 {
  margin: 0 var(--medium-space);
}

.mx-3 {
  margin: 0 var(--large-space);
}

.m-1 {
  margin: var(--small-space);
}

.m-2 {
  margin: var(--medium-space);
}

.m-3 {
  margin: var(--large-space);
}

.m-0 {
  margin: 0;
}

.mr-2 {
  margin: 0 var(--medium-space) 0 0;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }

  .sm-hidden {
    display: none;
  }

  .sm-flex {
    display: flex;
  }

  .sm-flex-col {
    flex-direction: column;
  }
}
